<?xml version="1.0"?>
<config>
    <modules>
        <MageAustralia_AiReports>
            <version>1.1.1</version>
        </MageAustralia_AiReports>
    </modules>
    <global>
        <helpers>
            <aireports>
                <class>MageAustralia_AiReports_Helper</class>
            </aireports>
        </helpers>
        <models>
            <aireports>
                <class>MageAustralia_AiReports_Model</class>
                <resourceModel>aireports_resource</resourceModel>
            </aireports>
            <aireports_resource>
                <class>MageAustralia_AiReports_Model_Resource</class>
                <entities>
                    <report>
                        <table>maho_aireports_report</table>
                    </report>
                    <run_log>
                        <table>maho_aireports_run_log</table>
                    </run_log>
                </entities>
            </aireports_resource>
        </models>
        <blocks>
            <aireports>
                <class>MageAustralia_AiReports_Block</class>
            </aireports>
        </blocks>
        <resources>
            <aireports_setup>
                <setup>
                    <module>MageAustralia_AiReports</module>
                </setup>
            </aireports_setup>
        </resources>
        <template>
            <email>
                <aireports_scheduled_run module="aireports">
                    <label>AI Reports - Scheduled Run</label>
                    <file>aireports/scheduled_run.html</file>
                    <type>html</type>
                </aireports_scheduled_run>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MageAustralia_AiReports before="Mage_Adminhtml">MageAustralia_AiReports_Adminhtml</MageAustralia_AiReports>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <aireports>
                    <file>mageaustralia_aireports.xml</file>
                </aireports>
            </updates>
        </layout>
    </adminhtml>
</config>
