<?xml version="1.0"?>
<config>
    <modules>
        <MageAustralia_AiReports>
            <version>1.0.0</version>
        </MageAustralia_AiReports>
    </modules>
    <global>
        <helpers>
            <aireports>
                <class>MageAustralia_AiReports_Helper</class>
            </aireports>
        </helpers>
        <models>
            <aireports>
                <class>MageAustralia_AiReports_Model</class>
                <resourceModel>aireports_resource</resourceModel>
            </aireports>
            <aireports_resource>
                <class>MageAustralia_AiReports_Model_Resource</class>
                <entities>
                    <report>
                        <table>maho_aireports_report</table>
                    </report>
                </entities>
            </aireports_resource>
        </models>
        <blocks>
            <aireports>
                <class>MageAustralia_AiReports_Block</class>
            </aireports>
        </blocks>
        <resources>
            <aireports_setup>
                <setup>
                    <module>MageAustralia_AiReports</module>
                </setup>
            </aireports_setup>
        </resources>
    </global>
</config>
